

 body {
    background-image: url("../images/tmp_6E95hn_8581834aa802f9b6_wv_publicity_post_launch_still_10.000001.jpg"); 
    background-size: 202%;
    background-repeat: no-repeat;
    background-position: center;       
}

#opening {
    background-image: url("../images/dummy.png");
    height: 700px;
    width: 100%;
    background-position:top;
    background-size: cover;
    /* opacity: 0.6; */
}

p{
    font-family: fantasy;
    font-weight: bold;
   
}


.card {
    /* width: 55%; */
    background: rgba(250,250,250,.0);
    background-position: center;
    background-size: cover;
;
}


#remaining {
    height: 161px;
    background-image: linear-gradient(#061539, #3A0915 );
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Nosifer', cursive;
    font-size: 43px;
    color: red;
}


#car {
   margin: auto;
   width: 72%;
   
}

#question {
    height: 102px;
    background-image: linear-gradient(#061539, #3A0915 );
    border: 2px solid black;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    font-size: 133%;
    padding:5%;
    margin-top: -8%;
   
}

#choice0, #choice1, #choice2, #choice3 {
    border: 2px solid black;
    background-image: linear-gradient(#061539, #3A0915 );
    height: 50px;
    border-radius: 10px;
    font-family: fantasy;
    font-weight: bold;
    color: aliceblue;
    margin-left: 10%;
    width: 80%;
}

#points {
    height: 56px;
    background-image: linear-gradient(#061539, #3A0915 );
    border: 2px solid black;
    border-radius: 10px;
    width: 179px;
    color: white;
    font-weight: bold;
    font-family: fantasy;
}

#timer {
    background-image: linear-gradient(#061539, #3A0915 );
    border: 2px solid black;
    color: white;
    font-weight: bold;
    font-family: fantasy;
    height: 51px;
    border-radius: 10px;
    width:179px;
    margin-left: 67%;
   
}

.reset {
    width:115px;
    height: 39px;
    background-image: linear-gradient(#061539, #3A0915 );
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: fantasy;
}


img {
    height: 250px;   
    border: 1px solid black;
    border-radius: 5px;
    width: 130%;
    margin-left: -57%;
    /* float: left; */
}

#wrap:after {
    content: "";
    display: block;
    clear: both;
}

#start {
    width:148px;
    height: 56px;
    background-color: #FFFCE3;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-family: fantasy;
    margin-left: 40%;
}

#next {
    width:148px;
    height: 56px;
    background-color: #FFFCE3;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-family: fantasy;
    margin-left: 40%;
    display: none;
    margin-top: -50px;
   

}

#finish {
    display: none;
}

#trivia {
    /* border:2px solid black; */
    /* border-radius: 10px; */
    /* height:420px;
    width: 725px; */
    margin: auto;
    display: none;
    color: white;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(0,0,0, 0.7);
    padding:2%;
    text-indent: 50px;
    
}


#imahe{
 margin-left: 45%;

}

#file {
    top: 67px;
    color: white;
    position: relative;
    margin-left: 17px;
    font-size: 24px;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}

#myAudio {
    display: none;
}